{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container-fluid">

  <div class="row">
  <div class="col-sm-8">

   <h1>{{ ticket.ticket_state}}</h1>

   <p>{{ ticket.date_created }}</p>
   <p>{{ ticket.date_open}}</p>
   <p>{{ ticket.date_in_progress}}</p>
   <p>{{ ticket.date_closed}}</p>

  </div>

<div class="col-sm-4">
{% if title %}
<h1 class="text-align-center">{{ title }}</h1>
{% endif %}

<form method="post" action="">{% csrf_token %}
  {{ form |crispy }}


<input class='btn btn-primary' type="submit" value="submit" />
</form>
</div>
</div>
</div>
{% endblock %}
{% block javascript %}

{% endblock %}
