{% load crispy_forms_tags %}


{#    <tr>#}
                <div class="d-flex flex-wrap">
                    <a class="dropdown-item" href="#ticketModal" data-toggle="modal" data-target="#{{ ticket.id }}Modal">
              <strong>{{ ticket.id }}-{{ ticket.ep.ep_name }}</strong>
              <span class="small float-right text-muted">{{ ticket.timestamp|timesince }}</span>
              <div class="dropdown-message small">rflow over to the sides!</div>
            </a>

{#        <strong><a class="button" href="#ticketModal" data-toggle="modal" data-target="#{{ ticket.id }}Modal">{{ ticket.id }}</a></strong>#}
{#                    <span class="float-right text-muted">{{ ticket.timestamp|timesince }}</span>#}
                </div>
{#        <td>{{ ticket.timestamp }}</td>#}
{#      </tr>#}
    <!-- Modal -->
    <div class="modal fade" id="{{ ticket.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><strong><span class="label label-warning"></span>{{ ticket.ticket_state }}</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="left">
              <img class="avatar float-right" src={{ ticket.ecb_responsible.image.url }}>
            <h3 class="media-heading">{{ ticket.ticket_type }} no.{{ ticket.id }}</h3>
            <span><strong>EP Name: </strong></span>
                <span>{{ ticket.ep.ep_name }}</span>
            <div>
            <span><strong>State: </strong></span>
                <span>{{ ticket.ticket_state }}</span>
              </div>
            <div>
                <span><strong>Type: </strong></span>
                <span>{{ ticket.ticket_type }}</span>
              </div>
            <div>
                <span><strong>ECB responsible: </strong></span>
                <span>{{ ticket.ecb_responsible }}</span>
              </div>
                        <div>
                <span><strong>Time Elapsed: </strong></span>
                <span>{{ ticket.timestamp|timesince }}</span>
              </div>
            <br>

          </div>
{#          {% if ticket.ecb_responsible == None %}#}
{##}
{#            <form id="set_ecb_responsible" action="" method="post">#}
{#                {% csrf_token %}#}
{#                {{ form | crispy }}#}
{#                <input type="submit" value="Submit" />#}
{##}
{#            </form>#}
{##}
{#          {% else %}#}
{##}
{#          <h5>{{ ticket.ecb_responsible }}</h5>#}
{##}
{#          {% endif %}#}
          <div class="modal-footer">
            <a class="btn btn-primary" href="{% url 'form:edit_ticket' ticket.id %}" role="button">edit ticket</a>
          </div>
        </div>
      </div>
    </div>

