{% extends "ticket_list.html" %}





    <tr>
        <td><a href="#ticketModal" data-toggle="modal" data-target="#{{ ticket.id }}Modal">{{ ticket.id }}</a></td>
        <td>{{ ticket.timestamp }}</td>
      </tr>
    <!-- Modal -->
    <div class="modal fade" id="{{ ticket.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><strong><span class="label label-warning"></span>{{ ticket.ticket_state }}</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="left">
    {#                        <img class="img-circle"  src={{ user.image.url }}  width="150" height="150" ></a>#}
            <h3 class="media-heading">{{ ticket.ticket_type }} no.{{ ticket.id }}</h3>
            <span><strong>EP Name: </strong></span>
                <span>{{ ticket.ep.ep_name }}</span>
            <div>
            <span><strong>State: </strong></span>
                <span>{{ ticket.ticket_state }}</span>
              </div>
            <div>
                <span><strong>Type: </strong></span>
                <span>{{ ticket.ticket_type }}</span>
              </div>
            <br>
            <div id="right">
              <div class="vl"></div>


            </div>

          </div>
          <div class="modal-footer">
            <a class="btn btn-primary" href="{% url 'users:detail' user.username %}" role="button">view Account</a>
          </div>
        </div>
      </div>
    </div>

